@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  @apply mx-auto my-5 h-0.5 w-[40vw] self-center bg-white opacity-65 shadow-lg backdrop-blur-lg lg:h-1;
}

h1 {
  @apply text-5xl font-bold text-center;
}

h2 {
  @apply text-4xl font-bold text-center;
}

h3 {
  @apply text-3xl font-bold text-center;
}

h4 {
  @apply text-2xl font-bold text-center;
}

h5 {
  @apply text-xl font-bold text-center;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111615;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background: #2d2f5c;
}
*/